nav {
  margin: 0;
  padding: 0;
  height: 10vh !important;
  width: 100vw !important;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: sticky; /* Rende la nav sticky */
  top: 0; /* Posiziona la nav in cima alla pagina */
  z-index: 1000; /* Assicura che la nav sia sopra gli altri elementi */
}

nav ul {
  width: 100vw;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 20vw !important;
}
nav li:hover {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  nav {
    height: auto !important;
    flex-direction: column;
    padding: 10px 0;
    font-size: 12px;
  }

  nav ul {
    flex-direction: column;
    width: auto;
  }

  nav li {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }

  nav a {
    padding: 5px;
  }
}

/* Stili per tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav li {
    margin-right: 10vw !important;
  }
}
